<div class="col-md-8 col-sm-12">
	<div class="most-viewed-item">
		<div class="item-cover">
			<div class="cover">
				<div class="text">
					<a href="single.html">Info</a>
					<p>Nulla posuere, egestas neque quis, suscipit eros. Vestibulum ut eros neque. Nam viverra maximus neque id convallis. In auctor eu quam sit amet</p>
				</div>
			</div>
			<img src="img/most-viewed-1.jpg" alt="item cover" />
		</div>

		<div class="item-body">
			<ul class="services">
				<li><p class="bathrooms">Bathrooms: <span>1</span></p></li>
				<li><p class="bedrooms">Bedrooms: <span>2</span></p></li>
				<li><p class="area">Area: <span>100</span></p></li>
			</ul>

			<div class="location">
				<h3>
					<a href="single.html">Grand hotel room</a>
				</h3>
				<p>LA 325</p>

				<span class="price">8000</span>
			</div>
		</div>
	</div>
	</div>

	<div class="col-md-8 col-sm-12">
	<div class="most-viewed-item">
		<div class="item-cover">
			<div class="cover">
				<div class="text">
					<a href="single.html">Info</a>
					<p>Nulla posuere, egestas neque quis, suscipit eros. Vestibulum ut eros neque. Nam viverra maximus neque id convallis. In auctor eu quam sit amet</p>
				</div>
			</div>
			<img src="img/most-viewed-2.jpg" alt="item cover" />
		</div>

		<div class="item-body">
			<ul class="services">
				<li><p class="bathrooms">Bathrooms: <span>1</span></p></li>
				<li><p class="bedrooms">Bedrooms: <span>2</span></p></li>
				<li><p class="area">Area: <span>100</span></p></li>
			</ul>

			<div class="location">
				<h3>
					<a href="single.html">Grand hotel room</a>
				</h3>
				<p>LA 325</p>

				<span class="price">$450 000</span>
			</div>
		</div>
	</div>
	</div>

	<div class="col-md-8 col-sm-12">
	<div class="most-viewed-item">
		<div class="item-cover">
			<div class="cover">
				<div class="text">
					<a href="single.html">Info</a>
					<p>Nulla posuere, egestas neque quis, suscipit eros. Vestibulum ut eros neque. Nam viverra maximus neque id convallis. In auctor eu quam sit amet</p>
				</div>
			</div>
			<img src="img/most-viewed-3.jpg" alt="item cover" />
		</div>

		<div class="item-body">
			<ul class="services">
				<li><p class="bathrooms">Bathrooms: <span>1</span></p></li>
				<li><p class="bedrooms">Bedrooms: <span>2</span></p></li>
				<li><p class="area">Area: <span>100</span></p></li>
			</ul>

			<div class="location">
				<h3>
					<a href="single.html">Grand hotel room</a>
				</h3>
				<p>LA 325</p>

				<span class="price">$450 000</span>
			</div>
		</div>
	</div>
	</div>

	<div class="col-md-8 col-sm-12">
	<div class="most-viewed-item">
		<div class="item-cover">
			<div class="cover">
				<div class="text">
					<a href="single.html">Info</a>
					<p>Nulla posuere, egestas neque quis, suscipit eros. Vestibulum ut eros neque. Nam viverra maximus neque id convallis. In auctor eu quam sit amet</p>
				</div>
			</div>
			<img src="img/most-viewed-4.jpg" alt="item cover" />
		</div>

		<div class="item-body">
			<ul class="services">
				<li><p class="bathrooms">Bathrooms: <span>1</span></p></li>
				<li><p class="bedrooms">Bedrooms: <span>2</span></p></li>
				<li><p class="area">Area: <span>100</span></p></li>
			</ul>

			<div class="location">
				<h3>
					<a href="single.html">Grand hotel room</a>
				</h3>
				<p>LA 325</p>

				<span class="price">$450 000</span>
			</div>
		</div>
	</div>
	</div>

	<div class="col-md-8 col-sm-12">
	<div class="most-viewed-item">
		<div class="item-cover">
			<div class="cover">
				<div class="text">
					<a href="single.html">Info</a>
					<p>Nulla posuere, egestas neque quis, suscipit eros. Vestibulum ut eros neque. Nam viverra maximus neque id convallis. In auctor eu quam sit amet</p>
				</div>
			</div>
			<img src="img/most-viewed-5.jpg" alt="item cover" />
		</div>

		<div class="item-body">
			<ul class="services">
				<li><p class="bathrooms">Bathrooms: <span>1</span></p></li>
				<li><p class="bedrooms">Bedrooms: <span>2</span></p></li>
				<li><p class="area">Area: <span>100</span></p></li>
			</ul>

			<div class="location">
				<h3>
					<a href="single.html">Grand hotel room</a>
				</h3>
				<p>LA 325</p>

				<span class="price">$450 000</span>
			</div>
		</div>
	</div>
	</div>

	<div class="col-md-8 col-sm-12">
	<div class="most-viewed-item">
		<div class="item-cover">
			<div class="cover">
				<div class="text">
					<a href="single.html">Info</a>
					<p>Nulla posuere, egestas neque quis, suscipit eros. Vestibulum ut eros neque. Nam viverra maximus neque id convallis. In auctor eu quam sit amet</p>
				</div>
			</div>
			<img src="img/most-viewed-6.jpg" alt="item cover" />
		</div>

		<div class="item-body">
			<ul class="services">
				<li><p class="bathrooms">Bathrooms: <span>1</span></p></li>
				<li><p class="bedrooms">Bedrooms: <span>2</span></p></li>
				<li><p class="area">Area: <span>100</span></p></li>
			</ul>

			<div class="location">
				<h3>
					<a href="single.html">Grand hotel room</a>
				</h3>
				<p>LA 325</p>

				<span class="price">$450 000</span>
			</div>
		</div>
	</div>
	</div>

	<div class="col-md-8 col-sm-12">
	<div class="most-viewed-item">
		<div class="item-cover">
			<div class="cover">
				<div class="text">
					<a href="single.html">Info</a>
					<p>Nulla posuere, egestas neque quis, suscipit eros. Vestibulum ut eros neque. Nam viverra maximus neque id convallis. In auctor eu quam sit amet</p>
				</div>
			</div>
			<img src="img/most-viewed-1.jpg" alt="item cover" />
		</div>

		<div class="item-body">
			<ul class="services">
				<li><p class="bathrooms">Bathrooms: <span>1</span></p></li>
				<li><p class="bedrooms">Bedrooms: <span>2</span></p></li>
				<li><p class="area">Area: <span>100</span></p></li>
			</ul>

			<div class="location">
				<h3>
					<a href="single.html">Grand hotel room</a>
				</h3>
				<p>LA 325</p>

				<span class="price">$450 000</span>
			</div>
		</div>
	</div>
	</div>

	<div class="col-md-8 col-sm-12">
	<div class="most-viewed-item">
		<div class="item-cover">
			<div class="cover">
				<div class="text">
					<a href="single.html">Info</a>
					<p>Nulla posuere, egestas neque quis, suscipit eros. Vestibulum ut eros neque. Nam viverra maximus neque id convallis. In auctor eu quam sit amet</p>
				</div>
			</div>
			<img src="img/most-viewed-2.jpg" alt="item cover" />
		</div>

		<div class="item-body">
			<ul class="services">
				<li><p class="bathrooms">Bathrooms: <span>1</span></p></li>
				<li><p class="bedrooms">Bedrooms: <span>2</span></p></li>
				<li><p class="area">Area: <span>100</span></p></li>
			</ul>

			<div class="location">
				<h3>
					<a href="single.html">Grand hotel room</a>
				</h3>
				<p>LA 325</p>

				<span class="price">$450 000</span>
			</div>
		</div>
	</div>
	</div>

	<div class="col-md-8 col-sm-12">
	<div class="most-viewed-item">
		<div class="item-cover">
			<div class="cover">
				<div class="text">
					<a href="single.html">Info</a>
					<p>Nulla posuere, egestas neque quis, suscipit eros. Vestibulum ut eros neque. Nam viverra maximus neque id convallis. In auctor eu quam sit amet</p>
				</div>
			</div>
			<img src="img/most-viewed-3.jpg" alt="item cover" />
		</div>

		<div class="item-body">
			<ul class="services">
				<li><p class="bathrooms">Bathrooms: <span>1</span></p></li>
				<li><p class="bedrooms">Bedrooms: <span>2</span></p></li>
				<li><p class="area">Area: <span>100</span></p></li>
			</ul>

			<div class="location">
				<h3>
					<a href="single.html">Grand hotel room</a>
				</h3>
				<p>LA 325</p>

				<span class="price">$450 000</span>
			</div>
		</div>
	</div>
	</div>