<body data-smooth-scroll="on">

	<!-- Page Wrapper -->
	<div id="page">
		<!-- Header -->

        {% block header %}
        {% include "admin/header.html" %}
        {% endblock %}

		<!-- Main Content -->
		<div class="content-wrapper">
			<!-- User Account Section -->
			<section class="user-account-section">
				<div class="container">
					<div class="user-account-tabs">
						<!-- Menu Controlls -->
						<ul class="heading">
							<!--li><a class="profile" href="#profile"><span>My Profile</span></a></li>
							<li><a class="submit" href="#submit"><span>Submit new property</span></a></li>
							<li><a class="properties" href="#properties"><span>My Properties</span></a></li-->
                            <li><a class="add_partner" href="#add_partner"><span>Add/Edit Partner</span></a></li>
                            <li><a class="submit" href="#submit"><span>Add/Edit New PG</span></a></li>
						</ul>

						<!-- Body -->
						<div class="tabs-body">
							<div class="main-loader">
								<div class="spinner">
									<div class="spinner-container container1">
										<div class="circle1"></div>
										<div class="circle2"></div>
										<div class="circle3"></div>
										<div class="circle4"></div>
									</div>
									<div class="spinner-container container2">
										<div class="circle1"></div>
										<div class="circle2"></div>
										<div class="circle3"></div>
										<div class="circle4"></div>
									</div>
									<div class="spinner-container container3">
										<div class="circle1"></div>
										<div class="circle2"></div>
										<div class="circle3"></div>
										<div class="circle4"></div>
									</div>
								</div>
							</div>
 							<div id="add_partner">
								<form class="update-form" action="{{ url_for('admin.partner_update_or_create') }}" enctype="multipart/form-data" method="POST">
									<div class="row">
										<div class="col-md-11">
											<div class="partner-select select-box type-2">
												<input class="js-input no-select" name="partner_name_select" type="text" value="" readonly placeholder="Partner Dropdown" />
												<input type="hidden" name="partner_id" value="" />
												<ul>
													<li id=""></li>
												</ul>
											</div>

											<input type="text" name="partner_name" class="js-input" placeholder="Enter your First Name" />
											<!--input type="text" class="js-input" placeholder="Enter your Last Name" /-->
											<input type="text" name="partner_email" class="js-input" placeholder="Enter your Email" />
											<input type="text" name="partner_phone_number" class="js-input" placeholder="Phone number" />
											<textarea name="partner_description" class="js-input" placeholder="Description"></textarea>
											<input type="text" name="partner_website" class="js-input" placeholder="Website URL" />

										</div>
										<div class="col-md-10 col-md-offset-1">
											<div class="photo-upload">
                                                <a class="upload-link" href="#">Add your photo</a>
                                                <input type="file" name="partner_photo_upload" size="40"/>
											</div>
										</div>
									</div>
									<input class="button theme-button-2" type="submit" value="Save Parter Details" />
								</form>
							</div>
                            <!--end-of-partner-->
 							<div id="submit">
								<form class="submit-form">
									<div class="row">
										<div class="col-md-11">

											<div class="coutry-select select-box type-2">
												<input class="js-input no-select" name="partner_id" type="text" readonly value="" placeholder="Partner Dropdown" />
												<ul>
													<li>Partner 1</li>
													<li>Partner 2</li>
													<li>Partner 3</li>
													<li>Partner 4</li>
													<li>Partner 5</li>
												</ul>
											</div>



											<input type="text" class="js-input" name="pg_name" placeholder="PG Name" />

											<div class="select-box type-2">
												<input class="js-input no-select" name="pg_type" type="text" readonly value="" placeholder="PG Type" />
												<ul>
													<li>Apartment</li>
													<li>Individual House</li>
												</ul>
											</div>

											<div class="city-select select-box type-2">
												<input class="js-input no-select" name="pg_locality" type="text" readonly value="" placeholder="Locality" />
												<ul>
													<li>Koramangala</li>
													<li>Belandur</li>
													<li>Whitefield</li>
													<li>BTM</li>
												</ul>
											</div>

												<input type="text" id ="latFld" class="js-input" name="latFld" placeholder="Latitude" />

												<input type="text" id = "lngFld" class="js-input" name="lngFld" placeholder="Longitude" />





											<div class="select-box type-2">
												<input class="js-input no-select" name="pg_serving_gender" type="text" readonly value="" placeholder="Serving Gender" />
												<ul>
													<li>Male</li>
													<li>Female</li>
													<li>Both</li>
												</ul>
											</div>

											<div class=""><br>Sharing Type

                                                <!-- **select pg type -->
                                     Select PG type:
									<div class="row comodities" style="margin-left:30px;">
                                            <div class="filters">

														<div class="select-filter">
															<label>
                                                                <input type="radio"  name="type" />
                                                                <span class="add-right">Type1</span>

															</label>

															<label>
                                                                <input type="radio"  name="type" />
                                                                <span class="add-right">Type2</span>

															</label>

															<label>
                                                                <input type="radio"  name="type" />
																<span class="add-right">Type3</span>
															</label>

															<label>
                                                                <input type="radio" name="type" />
                                                                <span>Type4</span>

															</label>
														</div>
													</div>
                                                    </div>
<!-- **select pg type ends-->
<!-- **select status starts-->
                                     Select Status:
									<div class="row comodities" style="margin-left:30px;">
                                            <div class="filters">

														<div class="select-filter">
															<label>
																<input type="radio" name="status-select" />
																<span class="add-right">Active</span>
															</label>

															<label>
																<input type="radio" name="status-select" />
																<span>Inactive</span>
															</label>
														</div>
													</div>
                                    </div>
<!-- **select status ends-->

											</div>

											<input type="text" name="starting_rate" class="js-input" placeholder="Starting Rate" />
											<input type="text" name="phone_no" class="js-input" placeholder="Phone Number" />
											<textarea name="pg_desc" class="js-input" placeholder="Description"></textarea>



									<div class="row comodities">
                                            <div class="filters">

														<div class="select-filter">
															<label>
																<input type="radio" name="status-select" />
																<span>Active</span>
															</label>
														</div>

														<div class="select-filter">
															<label>
																<input type="radio" name="status-select" />
																<span>Inactive</span>
															</label>
														</div>
<input type="button" value="Add Room Type">
													</div>
                                                    </div>



										</div>


										<div class="col-md-13 col-lg-offset-1 col-lg-12">
											<div class="photo-upload">
												<a class="upload-link" href="#">Add your photos</a>
                                                <input multiple="true" type="file" name="datafile" size="40"/>
											</div>

											<div class="location-on-map">
												<div class="map-canvas" id="location-map"></div>
											</div>
										</div>
									</div>

									<div class="row comodities">
										<div class="col-md-11">
											<div class="row">
												<div class="filters">
													<div class="col-sm-12">

                                                <div class="select-filter select-box type-2">
												<input name="pg_type" class="js-input no-select" type="text" readonly value="" placeholder="PG Type" />
												<ul>
													<li>Apartment</li>
													<li>Individual House</li>
												</ul>
											</div>

                                            <input type="text" class="js-input" placeholder="Rate" />

													</div>

													<div class="col-sm-12">
														<div class="nr-filter">
															<p class="caption">Rooms</p>
															<div class="block">
																<span class="action substract">-</span>
																<input type="text" name="room_count" class="nr-only" value="1" />
																<span class="action add">+</span>
															</div>
														</div>

														<div class="nr-filter">
															<p class="caption">Occupancy</p>
															<div class="block">
																<span class="action substract">-</span>
																<input type="text" name="occupancy_count" class="nr-only" value="1" />
																<span class="action add">+</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-13">
											<div class="check-option">
												<label>
													<input type="checkbox" name="reception" />
													<span>Reception</span>
												</label>
											</div>

											<div class="check-option">
												<label>
													<input type="checkbox" name="wifi" />
													<span>Wi-Fi</span>
												</label>
											</div>

											<div class="check-option">
												<label>
													<input type="checkbox" name="lift" />
													<span>Lift</span>
												</label>
											</div>

											<div class="check-option">
												<label>
													<input type="checkbox" name="cctv" />
													<span>CCTV</span>
												</label>
											</div>

											<div class="check-option">
												<label>
													<input type="checkbox" name="balcony" />
													<span>Balcony</span>
												</label>
											</div>

											<div class="check-option">
												<label>
													<input type="checkbox" name="solar-heat" />
													<span>Solar heat</span>
												</label>
											</div>

											<div class="check-option">
												<label>
													<input type="checkbox" name="security" />
													<span>Security</span>
												</label>
											</div>

											<div class="check-option">
												<label>
													<input type="checkbox" name="power-bkp" />
													<span>Power Backup</span>
												</label>
											</div>


											<div class="check-option">
												<label>
													<input type="checkbox" name="parking" />
													<span>Parking</span>
												</label>
											</div>


											<div class="check-option">
												<label>
													<input type="checkbox" name="drinking_water" />
													<span>Drinking Water</span>
												</label>
											</div>

											<div class="check-option">
												<label>
													<input type="checkbox" name="hot_water" />
													<span>Hot Water</span>
												</label>
											</div>

											<div class="check-option">
												<label>
													<input type="checkbox" name="almira" />
													<span>Almira</span>
												</label>
											</div>

											<div class="check-option">
												<label>
													<input type="checkbox" name="house_keeping" />
													<span>House Keeping</span>
												</label>
											</div>

											<div class="check-option">
												<label>
													<input type="checkbox" name="pillow" />
													<span>Pillow</span>
												</label>
											</div>


											<div class="check-option">
												<label>
													<input type="checkbox" name="tv" />
													<span>TV</span>
												</label>
</div>
											<div class="check-option">
												<label>
													<input type="checkbox" name="laundry" />
													<span>Laundry</span>
												</label>
											<div class="check-option">
												<label>
													<input type="checkbox" name="food" />
													<span>Food</span>

												</label>
											</div>
										</div>
									</div>
								</div>

									<input class="button theme-button-2" type="submit" value="Save PG Details" />
								</form>

							</div>
                            <!--end-of-submit-->
							<!--div id="profile">
								<form class="update-form">
									<div class="row">
										<div class="col-md-11">
											<input type="text" class="js-input" placeholder="Enter your First Name" />
											<input type="text" class="js-input" placeholder="Enter your Last Name" />
											<input type="text" class="js-input" placeholder="Enter your Username" />
											<input type="text" class="js-input" placeholder="Enter your Email" />

											<div class="row row-fit-10">
												<div class="col-sm-12">
													<input type="text" class="js-input" placeholder="Password" />
												</div>
												<div class="col-sm-12">
													<input type="text" class="js-input" placeholder="Repeat the password" />
												</div>
											</div>
										</div>
										<div class="col-md-10 col-md-offset-1">
											<div class="photo-upload">
												<a href="#" class="upload-btn">
													<i class="icon icon-folder4"></i>
												</a>
                                                <img id="partner_profile_photo" src="{{ url_for('static',filename='img/profile-avatar.jpg') }}" alt="user photo" />

												<br />
												<a class="upload-link" href="#">Add your photo</a>
												<input class="upload-btn" type="file" name="partner_photo_upload">
											</div>
										</div>
									</div>

									<p>Profile Information</p>
									<div class="row row-fit-10">
										<div class="col-sm-11">
											<div class="row row-fit-10">
												<div class="col-sm-12">
													<div class="social-input phone">
														<input type="text" class="js-input" placeholder="Phone" />
													</div>
													<div class="social-input facebook">
														<input type="text" class="js-input social facebook" placeholder="Facebook" />
													</div>
												</div>
												<div class="col-sm-12">
													<div class="social-input skype">
														<input type="text" class="js-input" placeholder="Skype" />
													</div>
													<div class="social-input twitter">
														<input type="text" class="js-input" placeholder="Twitter" />
													</div>
												</div>
											</div>
										</div>

										<div class="col-sm-13">
											<textarea class="js-input" placeholder="Other information"></textarea>
										</div>
									</div>

									<input class="update-btn" type="submit" value="Update your profile" />
								</form>
							</div-->

							<!--div id="submit">
								<form class="submit-form">
									<div class="row">
										<div class="col-md-11">
											<input type="text" class="js-input" placeholder="Tittle" />
											<textarea class="js-input" placeholder="Description"></textarea>

											<div class="coutry-select select-box type-2">
												<input class="js-input no-select" type="text" readonly value="" placeholder="All countries" />
												<ul>
													<li>All countries</li>
													<li>Albania</li>
													<li>Andora</li>
													<li>Bulgaria</li>
													<li>Greece</li>
													<li>Russia</li>
													<li>USA</li>
													<li>Moldova</li>
												</ul>
											</div>

											<div class="city-select select-box type-2">
												<input class="js-input no-select" type="text" readonly value="" placeholder="All cities" />
												<ul>
													<li>All cities</li>
													<li>Tirana</li>
													<li>Elbasan</li>
													<li>Prats</li>
													<li>Ransoal</li>
													<li>Sofia</li>
													<li>Varna</li>
													<li>Athens</li>
													<li>Volos</li>
													<li>Moscow</li>
													<li>NY</li>
													<li>LA</li>
													<li>Chisinau</li>
												</ul>
											</div>

											<input type="text" class="js-input" placeholder="Address (street/ house/ ap.)" />

											<div class="row row-fit-10">
												<div class="col-sm-12">
													<input type="text" class="js-input nr-only" placeholder="Price $" />
												</div>
												<div class="col-sm-12">
													<input type="text" class="js-input nr-only" placeholder="Area (sq ft)" />
												</div>
											</div>
										</div>

										<div class="col-md-13 col-lg-offset-1 col-lg-12">
											<div class="photo-upload">
												<a href="#" class="upload-btn">
													<i class="icon icon-folder4"></i>
												</a>


                                                <img src="{{ url_for('static',filename='img/profile-avatar.jpg') }}" alt="user photo" />

												<br />
												<a class="upload-link" href="#">Add your photo</a>
											</div>

											<div class="location-on-map">
												<div class="map-canvas" id="location-map"></div>
											</div>
										</div>
									</div>

									<div class="row comodities">
										<div class="col-md-11">
											<div class="row">
												<div class="filters">
													<div class="col-sm-12">
														<div class="select-filter">
															<label>
																<input type="radio" name="type-select" />
																<span>For rent</span>
															</label>
														</div>

														<div class="select-filter">
															<label>
																<input type="radio" name="type-select" />
																<span>For Sale</span>
															</label>
														</div>
													</div>

													<div class="col-sm-12">
														<div class="nr-filter">
															<p class="caption">Baths</p>
															<div class="block">
																<span class="action substract">-</span>
																<input type="text" class="nr-only" value="1" />
																<span class="action add">+</span>
															</div>
														</div>

														<div class="nr-filter">
															<p class="caption">Beds</p>
															<div class="block">
																<span class="action substract">-</span>
																<input type="text" class="nr-only" value="1" />
																<span class="action add">+</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-13">
											<div class="check-option">
												<label>
													<input type="checkbox" name="parking" />
													<span>Parking</span>
												</label>
											</div>

											<div class="check-option">
												<label>
													<input type="checkbox" name="air-conditioning" />
													<span>Air conditioning</span>
												</label>
											</div>

											<div class="check-option">
												<label>
													<input type="checkbox" name="swimming-pool" />
													<span>Swimming pool</span>
												</label>
											</div>

											<div class="check-option">
												<label>
													<input type="checkbox" name="close-to-school" />
													<span>Close to school</span>
												</label>
											</div>

											<div class="check-option">
												<label>
													<input type="checkbox" name="balcony" />
													<span>Balcony</span>
												</label>
											</div>

											<div class="check-option">
												<label>
													<input type="checkbox" name="solar-heat" />
													<span>Solar heat</span>
												</label>
											</div>

											<div class="check-option">
												<label>
													<input type="checkbox" name="wine-cellar" />
													<span>Wine cellar</span>
												</label>
											</div>

											<div class="check-option">
												<label>
													<input type="checkbox" name="night-bar" />
													<span>Night Bar</span>
												</label>
											</div>
										</div>
									</div>

									<input class="button theme-button-2" type="submit" value="Submit your property" />
								</form>
							</div-->

							<!--div id="properties">
								<div class="row row-fit-10">
									<div class="col-lg-6 col-md-8 col-sm-12">
										<div class="listing-item">
											<div class="item-cover type-1">
												<div class="cover">
													<p>Nulla posuere, egestas neque quis, suscipit eros. Vestibulum ut eros neque. Nam viverra maximus neque id convallis.</p>

													<a href="{{ url_for('public_pages.single_function') }}">
														<i class="icon"></i>
													</a>
												</div>


                                                <img src="{{ url_for('static',filename='img/my-properties-1.jpg') }}" alt="item cover" />


											</div>

											<div class="item-body">
												<div class="block services">
													<p class="caption">Services</p>
													<ul>
														<li class="bathrooms">Bathrooms: <span>1</span></li>
														<li class="bedrooms">Bedrooms: <span>2</span></li>
														<li class="area">Area: <span>100</span></li>
													</ul>
												</div>

												<div class="block location-info">
													<div class="location">
														<h3>
															<a href="single-full-width.html">Grand hotel room</a>
														</h3>
														<p>LA 325</p>
													</div>

													<div class="price">
														<p>$450 000 <span>For sale</span></p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-6 col-md-8 col-sm-12">
										<div class="listing-item">
											<div class="item-cover type-1">
												<div class="cover">
													<p>Nulla posuere, egestas neque quis, suscipit eros. Vestibulum ut eros neque. Nam viverra maximus neque id convallis.</p>

													<a href="{{ url_for('public_pages.single_function') }}">
														<i class="icon"></i>
													</a>
												</div>


                                                <img src="{{ url_for('static',filename='img/my-properties-2.jpg') }}" alt="item cover" />
											</div>

											<div class="item-body">
												<div class="block services">
													<p class="caption">Services</p>
													<ul>
														<li class="bathrooms">Bathrooms: <span>1</span></li>
														<li class="bedrooms">Bedrooms: <span>2</span></li>
														<li class="area">Area: <span>100</span></li>
													</ul>
												</div>

												<div class="block location-info">
													<div class="location">
														<h3>
															<a href="single-full-width.html">Grand hotel room</a>
														</h3>
														<p>LA 325</p>
													</div>

													<div class="price">
														<p>$450 000 <span>For sale</span></p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-6 col-md-8 col-sm-12">
										<div class="listing-item">
											<div class="item-cover type-1">
												<div class="cover">
													<p>Nulla posuere, egestas neque quis, suscipit eros. Vestibulum ut eros neque. Nam viverra maximus neque id convallis.</p>

													<a href="{{ url_for('public_pages.single_function') }}">
														<i class="icon"></i>
													</a>
												</div>


                                                <img src="{{ url_for('static',filename='img/my-properties-3.jpg') }}" alt="item cover" />
											</div>

											<div class="item-body">
												<div class="block services">
													<p class="caption">Services</p>
													<ul>
														<li class="bathrooms">Bathrooms: <span>1</span></li>
														<li class="bedrooms">Bedrooms: <span>2</span></li>
														<li class="area">Area: <span>100</span></li>
													</ul>
												</div>

												<div class="block location-info">
													<div class="location">
														<h3>
															<a href="single-full-width.html">Grand hotel room</a>
														</h3>
														<p>LA 325</p>
													</div>

													<div class="price">
														<p>$450 000 <span>For sale</span></p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-6 col-md-8 col-sm-12">
										<div class="listing-item">
											<div class="item-cover type-1">
												<div class="cover">
													<p>Nulla posuere, egestas neque quis, suscipit eros. Vestibulum ut eros neque. Nam viverra maximus neque id convallis.</p>

													<a href="{{ url_for('public_pages.single_function') }}">
														<i class="icon"></i>
													</a>
												</div>


                                                <img src="{{ url_for('static',filename='img/my-properties-4.jpg') }}" alt="item cover" />
											</div>

											<div class="item-body">
												<div class="block services">
													<p class="caption">Services</p>
													<ul>
														<li class="bathrooms">Bathrooms: <span>1</span></li>
														<li class="bedrooms">Bedrooms: <span>2</span></li>
														<li class="area">Area: <span>100</span></li>
													</ul>
												</div>

												<div class="block location-info">
													<div class="location">
														<h3>
															<a href="single-full-width.html">Grand hotel room</a>
														</h3>
														<p>LA 325</p>
													</div>

													<div class="price">
														<p>$450 000 <span>For sale</span></p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-6 col-md-8 col-sm-12">
										<div class="listing-item">
											<div class="item-cover type-1">
												<div class="cover">
													<p>Nulla posuere, egestas neque quis, suscipit eros. Vestibulum ut eros neque. Nam viverra maximus neque id convallis.</p>

													<a href="{{ url_for('public_pages.single_function') }}">
														<i class="icon"></i>
													</a>
												</div>


                                                <img src="{{ url_for('static',filename='img/my-properties-5.jpg') }}" alt="item cover" />
											</div>

											<div class="item-body">
												<div class="block services">
													<p class="caption">Services</p>
													<ul>
														<li class="bathrooms">Bathrooms: <span>1</span></li>
														<li class="bedrooms">Bedrooms: <span>2</span></li>
														<li class="area">Area: <span>100</span></li>
													</ul>
												</div>

												<div class="block location-info">
													<div class="location">
														<h3>
															<a href="single-full-width.html">Grand hotel room</a>
														</h3>
														<p>LA 325</p>
													</div>

													<div class="price">
														<p>$450 000 <span>For sale</span></p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-6 col-md-8 col-sm-12">
										<div class="listing-item">
											<div class="item-cover type-1">
												<div class="cover">
													<p>Nulla posuere, egestas neque quis, suscipit eros. Vestibulum ut eros neque. Nam viverra maximus neque id convallis.</p>

													<a href="{{ url_for('public_pages.single_function') }}">
														<i class="icon"></i>
													</a>
												</div>


                                                <img src="{{ url_for('static',filename='img/my-properties-6.jpg') }}" alt="item cover" />
											</div>

											<div class="item-body">
												<div class="block services">
													<p class="caption">Services</p>
													<ul>
														<li class="bathrooms">Bathrooms: <span>1</span></li>
														<li class="bedrooms">Bedrooms: <span>2</span></li>
														<li class="area">Area: <span>100</span></li>
													</ul>
												</div>

												<div class="block location-info">
													<div class="location">
														<h3>
															<a href="single-full-width.html">Grand hotel room</a>
														</h3>
														<p>LA 325</p>
													</div>

													<div class="price">
														<p>$450 000 <span>For sale</span></p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-6 col-md-8 col-sm-12">
										<div class="listing-item">
											<div class="item-cover type-1">
												<div class="cover">
													<p>Nulla posuere, egestas neque quis, suscipit eros. Vestibulum ut eros neque. Nam viverra maximus neque id convallis.</p>

													<a href="{{ url_for('public_pages.single_function') }}">
														<i class="icon"></i>
													</a>
												</div>


                                                <img src="{{ url_for('static',filename='img/my-properties-7.jpg') }}" alt="item cover" />
											</div>

											<div class="item-body">
												<div class="block services">
													<p class="caption">Services</p>
													<ul>
														<li class="bathrooms">Bathrooms: <span>1</span></li>
														<li class="bedrooms">Bedrooms: <span>2</span></li>
														<li class="area">Area: <span>100</span></li>
													</ul>
												</div>

												<div class="block location-info">
													<div class="location">
														<h3>
															<a href="single-full-width.html">Grand hotel room</a>
														</h3>
														<p>LA 325</p>
													</div>

													<div class="price">
														<p>$450 000 <span>For sale</span></p>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-6 col-md-8 col-sm-12">
										<div class="listing-item">
											<div class="item-cover type-1">
												<div class="cover">
													<p>Nulla posuere, egestas neque quis, suscipit eros. Vestibulum ut eros neque. Nam viverra maximus neque id convallis.</p>

													<a href="{{ url_for('public_pages.single_function') }}">
														<i class="icon"></i>
													</a>
												</div>


                                                <img src="{{ url_for('static',filename='img/my-properties-8.jpg') }}" alt="item cover" />
											</div>

											<div class="item-body">
												<div class="block services">
													<p class="caption">Services</p>
													<ul>
														<li class="bathrooms">Bathrooms: <span>1</span></li>
														<li class="bedrooms">Bedrooms: <span>2</span></li>
														<li class="area">Area: <span>100</span></li>
													</ul>
												</div>

												<div class="block location-info">
													<div class="location">
														<h3>
															<a href="single-full-width.html">Grand hotel room</a>
														</h3>
														<p>LA 325</p>
													</div>

													<div class="price">
														<p>$450 000 <span>For sale</span></p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div-->
                            <!--end-of-property-->
						</div>
					</div>
				</div>
			</section>
		</div>


	</div>
</body>