		<header>
			<!-- Navigation -->
			<nav>
				<ul>
					<li class="home current-menu-item"><a href="my-profile.html">Home</a></li>
					<li class="listing menu-item-has-children">
						<a href="#">Listing</a>
						<ul class="sub-menu">
							<li><a href="properties-grid.html">Grid</a></li>
							<li><a href="properties-list.html">List</a></li>
						</ul>
					</li>
					<li class="property"><a href="single-full-width.html">Property</a></li>
					<li class="agents"><a href="agents.html">Agents</a></li>
					<li class="blog"><a href="blog.html">Blog</a></li>
					<li class="error"><a href="404.html">404 Page</a></li>
				</ul>
			</nav>

			<!-- Social Block & Login -->
			<div class="right-block">
				<div class="account-options">
					<div class="main-info">


                        <!-- img src="{{ url_for('static',filename='img/profile-avatar.jpg') }}" alt="profile avatar" / -->
                        <img src="https://graph.facebook.com/595313451/picture?width=43&height=43" alt="profile avatar" />

						<span class="username">John Doe</span>
					</div>

					<ul class="list">
						<li><a class="profile" href="#profile">My profile</a></li>
						<li><a class="submit-new" href="#submit">Submit new property</a></li>
						<li><a class="properties" href="#properties">My properties</a></li>
						<li><a class="exit" href="index.html">Exit</a></li>
					</ul>
				</div>

				<ul class="social-block">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
				</ul>
			</div>

			<!-- Menu Toggle -->
			<span class="menu-toggle cmn-toggle-switch cmn-toggle-switch__htx">
				<span>toggle menu</span>
			</span>

			<!-- Identity image -->
			<a href="index.html" class="brand">


                <img src="{{ url_for('static',filename='img/logo.jpg') }}" height="50" width="100" alt="logo" />

			</a>
		</header>