{% extends "base.html" %}


{% block content %}

{% block header %}
        {% include "header.html" %}
{% endblock %}

<div class="content-wrapper">
<section class="properties-map">
				<div class="row row-fit">
                    <h1>
    Welcome to the Nest.
</h1>
<h2>About the Nest</h2>
<h3>We are located in Koramangala</h3>

<h2>Contacts </h2>
<h3>Please contact : 98451 05461</h3>
<h2>Profile</h2>
                </div>
</section>
</div>
{% include "footer.html" %}
{% endblock %}
