<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <meta charset="utf-8" />
    <title>Pikuhomes</title>
    <meta name="description" content="PG search made reliable" />
    <meta name="author" content="Pankaj Gupta" />
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico') }}" type="image/x-icon" />
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/owl-carousel.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/lightbox.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/animate.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bxslider.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/nouislider.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/icomoon.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/screen.css') }}"/>

    {% endblock %}
  </head>
  <body>

    <div id="content">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        </div>

        {% block content %}

        {% endblock %}

    </div>

    <div>
        {% block footer %}

        {% endblock %}
	</div>



  	<!-- Scripts -->
	<script src="http://maps.googleapis.com/maps/api/js"></script>


<script src="{{ url_for('static',filename='js/infobox.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery-ui.js') }}"></script>
<script src="{{ url_for('static',filename='js/bxslider.js') }}"></script>
<script src="{{ url_for('static',filename='js/marquee.js') }}"></script>
<script src="{{ url_for('static',filename='js/nouislider.js') }}"></script>
<script src="{{ url_for('static',filename='js/modernizr.js') }}"></script>
<script src="{{ url_for('static',filename='js/imagesloaded.js') }}"></script>
<script src="{{ url_for('static',filename='js/smooth-scroll.js') }}"></script>
<script src="{{ url_for('static',filename='js/owl-carousel.js') }}"></script>
<script src="{{ url_for('static',filename='js/isotope.js') }}"></script>
<script src="{{ url_for('static',filename='js/theia.js') }}"></script>
<script src="{{ url_for('static',filename='js/lightbox.js') }}"></script>
<script src="{{ url_for('static',filename='js/options.js') }}"></script>

  </body>
</html>
