<body data-smooth-scroll="on" id="front-page">
	<!-- Site Preloader -->
	<div class="site-preloader">
		<div class="preloader-content">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
				<g>
					<path id="svg_1" d="m268.19501,214.75999c8.53894,-24.50043 42,0 0,31.5c-42,-31.5 -8.53894,-56.00043 0,-31.5z" stroke-width="5" stroke="#000000" fill="#FF0000"/>
                    
					<rect x="9.856" y="44.682" fill-rule="evenodd" clip-rule="evenodd" fill="#F0494B" width="14.465" height="54.362"/>
					<path fill-rule="evenodd" clip-rule="evenodd" fill="#A31B1F" d="M47.868,1.947c21.055,0,38.123,17.068,38.123,38.123
						c0,21.055-17.068,38.123-38.123,38.123c-21.055,0-38.123-17.068-38.123-38.123C9.745,19.015,26.813,1.947,47.868,1.947
						L47.868,1.947z M47.868,16.58c-12.973,0-23.49,10.517-23.49,23.49c0,12.973,10.517,23.49,23.49,23.49
						c12.973,0,23.49-10.517,23.49-23.49C71.357,27.097,60.841,16.58,47.868,16.58z"/>
					<path fill-rule="evenodd" clip-rule="evenodd" fill="#F0494B" d="M47.535,1.166c21.055,0,38.123,17.068,38.123,38.123
						c0,21.055-17.068,38.123-38.123,38.123c-21.055,0-38.123-17.068-38.123-38.123C9.412,18.234,26.48,1.166,47.535,1.166L47.535,1.166
						z M47.535,15.799c-12.973,0-23.49,10.517-23.49,23.49c0,12.973,10.517,23.49,23.49,23.49c12.973,0,23.49-10.517,23.49-23.49
						C71.025,26.316,60.508,15.799,47.535,15.799z"/>
				</g>
			</svg>


            <svg width="640" height="480" xmlns="http://www.w3.org/2000/svg">
 <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->

</svg>
		</div>
	</div>

	<!-- Page Wrapper -->
	<div id="page">



        {% block header %}
        {% include "header.html" %}
        {% endblock %}

		<!-- Main Content -->
		<div class="content-wrapper">
			<!-- Login Form -->
			<div class="login-form-popup">
				<div class="login-form" id="login-popup">
					<div class="brand-wrapper">

                        <img src="{{ url_for('static',filename='img/pikuhomes.com - logo-rgb.jpg') }}"alt="login brand" />
					</div>



					<div class="sign-in-options">
						<span>Sign in</span>
						<a class="facebook" href="my-profile.html">Facebook</a>

					</div>


				</div>
			</div>

			<!-- Properties Map Section -->
			<section class="properties-map">
				<div class="row row-fit">
					<div class="col-md-9 col-lg-7">
						<div class="map-filter-box">
							<div class="box-caption">
								<h4>Search in Pikuhomes</h4>
								<p>Specify an areaname</p>
							</div>

							<div class="select-box">
								<input name="gender" class="filter-box-input js-input no-select" type="text" readonly value="" placeholder="Male/Female" />
								<ul>
									<li>Male</li>
									<li>Female</li>
									<li>All</li>
								</ul>
							</div>


							<div class="city-select select-box">
								<input name="locality" class="filter-box-input js-input no-select" type="text" readonly value="" placeholder="Specify a Locality" />
								<ul>
									<li>Koramangala</li>
									<li>Whitefield</li>
                                    <li>JP Nagar</li>
                                    <li>Marathahalli</li>
                                    <li>Hosur Road</li>
                                    <li>All</li>
								</ul>
							</div>

							<div class="select-box">
								<input name="sharing" class="filter-box-input js-input no-select" type="text" readonly value="" placeholder="All types" />
								<ul>
									<li>Single Sharing</li>
									<li>Double Sharing</li>
									<li>Any</li>
								</ul>
							</div>


							<div class="price-box">
								<p class="caption"><i>Budget Range</i> &#40;<span class="min"></span> - <span class="max"></span>&#41;</p>

								<div name="range" class="price-slider" data-min="3000" data-max="20000" data-start="3000" data-stop="20000" data-step="1000"></div>

								<div class="price-limits clearfix">
									<span class="lower">3000</span>
									<span class="upper">20000</span>
								</div>
							</div>
							<a href="#" class="button theme-button-1 update-properties">Find Property</a>
						</div>
					</div>

					<div class="col-md-15 col-lg-17">
						<!-- Map Popup -->
						<div id="property-popup" class="property-popup">
							<i class="close-popup icon-cross2"></i>
							<div class="popup-loader">
								<div class="spinner">
									<div class="spinner-container container1">
										<div class="circle1"></div>
										<div class="circle2"></div>
										<div class="circle3"></div>
										<div class="circle4"></div>
									</div>
									<div class="spinner-container container2">
										<div class="circle1"></div>
										<div class="circle2"></div>
										<div class="circle3"></div>
										<div class="circle4"></div>
									</div>
									<div class="spinner-container container3">
										<div class="circle1"></div>
										<div class="circle2"></div>
										<div class="circle3"></div>
										<div class="circle4"></div>
									</div>
								</div>
							</div>
							<div class="popup-cover">
								<a href="#">

                                    <img src="{{ url_for('static',filename='img/map-card.jpg') }}" alt="popup cover" />
								</a>
							</div>
							<div class="popup-body">
								<h2><a href="#">Penthouse bar</a></h2>
								<p>Manhattan 125 off 55</p>

								<span class="price">500</span>
								<a class="propery-page" href="#">
									<i class="fa fa-angle-right"></i>
								</a>
							</div>
						</div>

						<!-- Loader -->
						<div class="map-loader">
							<div class="spinner">
								<div class="spinner-container container1">
									<div class="circle1"></div>
									<div class="circle2"></div>
									<div class="circle3"></div>
									<div class="circle4"></div>
								</div>
								<div class="spinner-container container2">
									<div class="circle1"></div>
									<div class="circle2"></div>
									<div class="circle3"></div>
									<div class="circle4"></div>
								</div>
								<div class="spinner-container container3">
									<div class="circle1"></div>
									<div class="circle2"></div>
									<div class="circle3"></div>
									<div class="circle4"></div>
								</div>
							</div>
						</div>

						<!-- Map Canvas -->
						<div class="map" id="map-canvas"></div>
					</div>
				</div>
			</section>

			<!-- Hot Offer Section -->
			<section class="hot-offer">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="caption">
								<h2><i class="icon icon-home4"></i> <span>Hot Offer</span></h2>
							</div>
						</div>

						<div class="col-sm-18">
							<div class="hot-offer-slider">
								<p>
									<a href="single-full-width.html">Use coupon code PIKULAUNCH16 to get Rs. 300.00 flat discount.</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Listing Section -->
			<section class="listing-section">
				<div class="container">
					<div class="section-header">
						<h1>Recent Listed</h1>
						<p>List of properties recently added as our partner property.</p>
					</div>
				</div>

				<div class="listing-items">
					<div class="row">
						<div class="col-xs-12 col-md-8 col-lg-6">
							<div class="listing-item">
								<div class="item-cover type-1">
									<div class="cover">
										<p>
                                            Single Sharing - 13500/- without food.
                                            Twin Sharing - 2 categories - 8500/- and 10500/-
                                            *both without food
                                        </p>

										<a href="{{ url_for('public_pages.single_function') }}">
											<i class="icon"></i>
										</a>
									</div>

                                     <img src="{{ url_for('static',filename='img/listing-1.PNG') }}"  alt="item cover" />

								</div>

								<div class="item-body">
									<div class="block services">
										<p class="caption">Services</p>
										<ul>
											<li class="facility">Wifi</li>
											<li class="bedrooms">Washing Machine<span>2</span></li>
											<li class="area">RO Water purifier </li>
                                            <li class="area">Housekeeping</li>
                                            <li class="area">Security</li>
                                            <li class="area">CCTV</li>
                                            <li class="area">Printer</li>
                                            <li class="area">24 inches LED Screens with Tata sky cable</li>
                                            <li class="area">Attached washrooms with geysers</li>
                                            <li class="area">Power Backup</li>
                                            <li class="area">Bedsheet provided</li>
										</ul>
									</div>

									<div class="block location-info">
										<div class="location">
											<h3>
												<a href="single-full-width.html">Luxary PG</a>
											</h3>
											<p>No.7, Suraj Annex, 1 st Cross,
Green Leaf Extn., 4 th Block, Koramangala, Bangalore 34
Near Blue Dart, Behind Fill N Chill Pub, Off 80 feet Road.</p>
										</div>

										<div class="price">
											<p>Single Sharing - 13500/- </p>
                                            <br/>
                                            <p>Twin Sharing - Category 1 - 8500/-  </p>
                                            <br/>
                                            <p>Twin Sharing - Category 2 - 10500/- </p>
                                            <br/>
                                            <p>* Food is not provided</p>
                                            <br/>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-md-8 col-lg-6">
							<div class="listing-item">
								<div class="item-cover type-2">
									<div class="cover">
										<p>Nulla posuere, egestas neque quis, suscipit eros. Vestibulum ut eros neque. Nam viverra maximus neque id convallis.</p>

										<a href="{{ url_for('public_pages.single_function') }}">
											<i class="icon"></i>
										</a>
									</div>
                                     <img src="{{ url_for('static',filename='img/listing-2.jpg') }}"  alt="item cover" />

								</div>

								<div class="item-body">
									<div class="block services">
										<p class="caption">Services</p>
										<ul>
											<li class="bathrooms">Bathrooms: <span>1</span></li>
											<li class="bedrooms">Bedrooms: <span>2</span></li>
											<li class="area">Area: <span>100</span></li>
										</ul>
									</div>

									<div class="block location-info">
										<div class="location">
											<h3>
												<a href="single-full-width.html">Grand hotel room</a>
											</h3>
											<p>LA 325</p>
										</div>

										<div class="price">
											<p>$450 000 <span>For sale</span></p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-md-8 col-lg-6">
							<div class="listing-item">
								<div class="item-cover type-2">
									<div class="cover">
										<p>Nulla posuere, egestas neque quis, suscipit eros. Vestibulum ut eros neque. Nam viverra maximus neque id convallis.</p>

										<a href="{{ url_for('public_pages.single_function') }}">
											<i class="icon"></i>
										</a>
									</div>
                                    <img src="{{ url_for('static',filename='img/listing-3.jpg') }}"  alt="item cover" />

								</div>

								<div class="item-body">
									<div class="block services">
										<p class="caption">Services</p>
										<ul>
											<li class="bathrooms">Bathrooms: <span>1</span></li>
											<li class="bedrooms">Bedrooms: <span>2</span></li>
											<li class="area">Area: <span>100</span></li>
										</ul>
									</div>

									<div class="block location-info">
										<div class="location">
											<h3>
												<a href="single-full-width.html">Grand hotel room</a>
											</h3>
											<p>LA 325</p>
										</div>

										<div class="price">
											<p>$450 000 <span>For sale</span></p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-md-8 col-lg-6">
							<div class="listing-item">
								<div class="item-cover type-2">
									<div class="cover">
										<p>Nulla posuere, egestas neque quis, suscipit eros. Vestibulum ut eros neque. Nam viverra maximus neque id convallis.</p>

										<a href="{{ url_for('public_pages.single_function') }}">
											<i class="icon"></i>
										</a>
									</div>
                                    <img src="{{ url_for('static',filename='img/listing-4.jpg') }}"  alt="item cover" />

								</div>

								<div class="item-body">
									<div class="block services">
										<p class="caption">Services</p>
										<ul>
											<li class="bathrooms">Bathrooms: <span>1</span></li>
											<li class="bedrooms">Bedrooms: <span>2</span></li>
											<li class="area">Area: <span>100</span></li>
										</ul>
									</div>

									<div class="block location-info">
										<div class="location">
											<h3>
												<a href="single-full-width.html">Grand hotel room</a>
											</h3>
											<p>LA 325</p>
										</div>

										<div class="price">
											<p>$450 000 <span>For sale</span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>





		</div>
        </div>
</body>