<!-- Footer -->
		<footer>
			<div class="container">
				<div class="footer-widgets">
					<div class="row">
						<div class="col-md-9">
							<div class="footer-widget widget_info">
								<div class="widget-body">
                                    <img src="{{ url_for('static',filename='img/logo.jpg') }}"  alt="realtor logo" />


									<p>Pikuhomes is a software automation technology and innovation company. We work with various PG owners and their customers to make sure technology help them solve toughest of problems.</p>

									<ul class="social-block">
										<li><a href="https://www.facebook.com/pikuhomes"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fa fa-youtube"></i></a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-md-9">
							<div class="footer-widget widget_most_viewed">

							</div>
						</div>

						<div class="col-md-6">
							<div class="footer-widget widget_contact">
								<h4 class="widget-title">Contact info</h4>

								<div class="widget-body">
									<ul class="contact-info">
										<li class="phone">
											</bold><p style="font-size:18px"><b>Cell # +91 80880 44440</b></p>
										</li>
										<li class="mail">
											<p><a href="#">pikuhomes@gmail.com</a></p>
										</li>
										<li class="location">
											<br/>Pikuhomes Property Solutions<br /># 7 "Suraj Annex" 1st Cross,<br/>
												Green Leaf Extn,4th Block, Koramangala<br />
												Bengaluru - 560034, INDIA</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="copyrigts">
					<p>Copyrights 2016. Pikuhomes India Private Limited</p>
				</div>
			</div>
		</footer>