<!-- Header -->
		<header>
			<!-- Navigation -->
			<nav>
				<ul>
					<li class="home current-menu-item"><a href="my-profile.html">Home</a></li>
					<li class="listing menu-item-has-children">
						<a href="#">Listing</a>
						<ul class="sub-menu">
							<li><a href="properties-grid.html">Grid</a></li>
							<li><a href="properties-list.html">List</a></li>
						</ul>
					</li>
					<li class="property"><a href="single-full-width.html">Property</a></li>
					<li class="agents"><a href="agents.html">Agents</a></li>
					<li class="blog"><a href="blog.html">Blog</a></li>
					<li class="error"><a href="404.html">404 Page</a></li>
				</ul>
			</nav>

			<!-- Social Block & Login -->
			<div class="right-block">
				<ul class="social-block">
					<li><a href="https://www.facebook.com/PikuHomes-Property-Solutions-698165656985906/"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
				</ul>

				<p><a class="login" href="#">Partner Login</a> </p>
			</div>

			<!-- Menu Toggle -->
			<span class="menu-toggle cmn-toggle-switch cmn-toggle-switch__htx">
				<span>toggle menu</span>
			</span>

			<!-- Identity image -->
			<a href="index.html" class="brand">

                <img src="{{ url_for('static',filename='img/logo.png') }}" height="50" width="100" alt="Live Comfortably logo" />
			</a>
		</header>