<!doctype html>
<html>
      <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
            <meta charset="utf-8" />
        <title>Pikuhomes</title>
        <meta name="description" content="PG search made reliable" />
        <meta name="author" content="Pankaj Gupta" />
        <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.png') }}" type="image/x-icon" />
        <!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <!-- Style CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}"/>

        {% endblock %}
          <style>
              .center {
                  float: none;
                  margin-left: auto;
                  margin-right: auto;
                  margin-top: 150px;
              }
          </style>
      </head>
    <body>
        <div class="container">
            <!-- Login with Social Buttons - START -->
            <form class="col-md-12 center" >
                <div class="row text-center">
                    <div class="col-lg-6 col-sm-12">
                        <a class="btn btn-primary btn-block" href="{{ login_facebook }}?next={{ next }}&role={{ role }}">Sign In With Facebook</a>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <a class="btn btn-danger btn-block" href="{{ login_google }}">Sign In With Google+</a>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input-lg" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input-lg" placeholder="Confirm Password">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block">Sign In</button>
                </div>
            </form>
            <!-- Login with Social Buttons - END -->
        </div>
    </body>
</html>