{% extends "base.html" %}



{% block content %}

{% block header %}
        {% include "header_without_register.html" %}
{% endblock %}

{% block body %}

<div class="container-fluid" id="form">
    <div class="row">
        <form action="/register_partner" method="post" name="registration" class="register form-horizontal">
        <div class="form-group">
            <label for="UserMobile" class="col-sm-2 control-label">Cell Number: +91</label>
            <div class="col-sm-3">
            <input value="{{request.form.UserMobile}}" type="text" id="UserMobile" maxlength="10" data-fv-numeric="true" data-fv-numeric-message="Please enter valid phone numbers" data-fv-phone-country11="IN" required="required" data-fv-notempty-message="This field cannot be left blank." placeholder="Mobile No. " class="form-control input-lg" name="UserMobile" data-fv-field="data[User][mobile]">
            </div>
            <button type="submit" class="btn btn-default btn-lg">Send Code on my Mobile</button>
        </div>

        </form>
    </div>
</div>

{% endblock %}


{% include "footer.html" %}
{% endblock %}

