{% extends "base.html" %}

{% block content %}


<div id="form">
    <div class="row">
        <form action="/register_partner" method="post" name="registration" class="register form-horizontal">
        <div class="form-group">
            <label for="code" class="col-sm-4 control-label">Enter your code which was sent to mobile</label>
            <div class="col-sm-3">



            <input value="{{request.form.code}}" type="text" id="code" maxlength="4" data-fv-numeric="true" data-fv-numeric-message="Please enter valid Code" data-fv-phone-country11="IN" data-fv-notempty-message="This field cannot be left blank." placeholder="Enter 4 digit code which is sent to your mobile" class="form-control input-lg" name="code">


            <label for="code" class="col-sm-4 control-label">NAme</label>
            <input value="{{request.form.name}}" type="text" id="name" maxlength="20" data-fv-numeric="true" data-fv-numeric-message="Please enter valid Code" data-fv-phone-country11="IN" data-fv-notempty-message="This field cannot be left blank." placeholder="Enter 4 digit code which is sent to your mobile" class="form-control input-lg" name="name">



            <label for="code" class="col-sm-4 control-label">NAme</label>
            <input value="{{request.form.name}}" type="text" id="name" maxlength="20" data-fv-numeric="true" data-fv-numeric-message="Please enter valid Code" data-fv-phone-country11="IN" data-fv-notempty-message="This field cannot be left blank." placeholder="Enter 4 digit code which is sent to your mobile" class="form-control input-lg" name="name">


            <button type="submit" class="btn btn-default btn-lg">Login</button>
        </div>
        </div>
        </form>
    </div>
</div>




{% endblock %}

